{{define "title"}}Contact{{end}}
{{define "body"}}

<p class="title">Contact</p>
<div class="wrapper">
    <h4>Email:</h4>
    <a href="mailto:lucasr@posteo.us"><span class="link">lucasr@posteo.us</span></a>
    <h4>Github:</h4>
    <span class="aqua">$/</span><a href="https://github.com/lucasritossa">LucasRitossa</a><br>
    <span class="aqua">$/</span><a href="https://github.com/textureset">Textureset</a>
</div>

<style>
    .wrapper {
        padding: 20vh;
    }

    .aqua {
        color: var(--aqua)
    }

    .link {
        color: var(--blue)
    }

    .title {
        font-size: 1.4vh;
        padding: 2vh;
    }

    @media (max-width: 60vh) {
        .wrapper {
            font-size: 2vh;
            padding: 12vh;
        }

        .title {
            text-align: left;
            padding:  2vh;
            font-size: 1.2vh;
            height: 100%;
        }
    }
</style>
{{end}}
