{{define "title"}}Lucas Ritossa{{end}}
{{define "body"}}
<p class="title">Contact</p>
<div class="wrapper">
    <p>Here are some various static sites to visit. These are mostly random things I'm interested in at a given
        time.</p><br>
    <p class="pagewrapper">
        {{range .Projects}}
        <a href="static/{{.}}.html">
            <!-- render and slice .html suffix -->
            {{.}}
        </a>
        {{end}}
    </p>
</div>
<style>
    .wrapper {
        padding: 20vh;
    }

    .link {
        color: var(--blue)
    }

    .title {
        font-size: 1.4vh;
        padding: 2vh;
    }

    p a {
        word-spacing: 1vh;
        text-decoration: none;
    }

    .pagewrapper {
        padding:4px;
        border: 1px solid
    }

    @media (max-width: 60vh) {
        .wrapper {
            font-size: 2vh;
            padding: 12vh;
        }

        .title {
            text-align: left;
            padding: 2vh;
            font-size: 1.2vh;
            height: 100%;
        }
</style>
{{end}}
