{{define "title"}}Contact{{end}}
{{define "body"}}

<h2>Contact</h2>
<hr/>
<div class="wrapper">
<h4>Email:</h4>
<a href="mailto:lucasr@posteo.us"><span class="link">lucasr@posteo.us</span></a>
<h4>Github:</h4>
<span class="aqua">$/</span><a href="https://github.com/lucasritossa">LucasRitossa</a><br>
<span class="aqua">$/</span><a href="https://github.com/textureset">Textureset</a>
 </div>

<style>
    .wrapper {
     padding: 20vh;
    }
    .aqua {
        color: var(--aqua)
    }
    .link {
        color: var(--blue)
    }

</style>
{{end}}
